@import 'vars.scss';
@import 'icons.scss';

body {
  min-width: $w-min;
  max-width: $w-max;
  overflow-x: hidden;
  overscroll-behavior: none;
  padding: 20px 8px;
  margin: 0 auto;
  background-color: $c-bg;
  font-family: $f-prim;
  font-size: $f-size-md;
  line-height: $f-height-md;
  color: $c-font;
  
  h1, h2, h3, h4, h4, h6 {
    font-family: $f-head;
    margin: 0;
    line-height: 2;
    font-weight: normal;
    text-transform: capitalize;
  }
  
  h3 {
    font-size: 24px;
  }
  
  ul, li {
    padding: 3px 0;
    margin: 0;
    list-style: none;
    
    &.item-pad {
      padding-top: 10px;
    }
    
    span.l-case {
      text-transform: lowercase;
    }
    
    pre {
      font-size: 14px;
      line-height: 16px;
    }
  }
  
  input[type=text] {
    padding: 0 8px;
    border: 1px solid $c-border;
    font-family: $f-prim;
    color: $c-font;
    font-size: $f-size-bg;
    line-height: $f-height-bg;
    background: $c-bg;
    
    &:focus {
      outline-offset: -3px;
    }
  }

  button {
    color: $c-font;
    background: none;
    font-family: $f-prim;

    &:focus {
      outline: none;
    }
  }

  .float-parent {
    clear: both;
    overflow: auto;
  }

  textarea, .textbox {
    position: relative;
    padding: 8px;
    width: 100%;
    box-sizing: border-box;
    display: block;
    color: $c-font;
    border: 1px solid $c-border;
    resize: none;
    font-size: $f-size-md;
    font-family: $f-prim;
    background: none;
    
    .input {
      outline: none;
    }
    
    .placeholder {
      position: absolute;
      left: 8px;
      opacity: 0.4;
      pointer-events: none;
    }
  }

  .scroll-container {
    position: relative;

    .scroll-container-child {
      padding: 20px 0;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 6px;
      }
      
      &::-webkit-scrollbar-track {
        background: none;
      }
      
      &::-webkit-scrollbar-thumb {
        background-color: $c-bg-light;
        border-radius: 3px;
      }
    }

    &:before,
    &:after {
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      z-index: 5;
      height: 40px;
      pointer-events: none;
    }
    &:before {
      top: 0;
      background: linear-gradient(180deg, $c-bg, #0000);
    }
    &:after {
      bottom: 0;
      background: linear-gradient(0deg, $c-bg, #0000);
    }
  }
}