@import url('https://fonts.googleapis.com/css?family=Fondamento|Source+Serif+Pro&display=swap');

$c-prof: #3920ca;
$c-comb: #1baa9e;
$c-sear: #8eca20;
$c-note: #ca2095;
$c-stat: #ca2020;

$c-border: #777;
$c-bg: #222;
$c-bg-light: #555;
$c-mod-bg: #0007;
$c-font: #fff;

$f-prim: 'Source Serif Pro', serif;
$f-head: 'Fondamento', cursive;
$f-size-md: 16px;
$f-height-md: 24px;
$f-size-bg: 18px;
$f-size-lg: 24px;
$f-height-bg: 34px;

$w-min: 304px;
$w-max: 500px;
$w-pad: 8px;

$br-el: 5px;
$br-mod: 15px;

$l-ani-mod: 0.3s;
$l-ani-dd: 0.2s;
$l-ani-reveal: 0.5s;
$l-ani-reveal-slow: 0.7s;

$z-dropdown: 10;
$z-nav: 20;
$z-modal: 30;

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 6px;
  }
  
  &::-webkit-scrollbar-track {
    background: none;
  }
  
  &::-webkit-scrollbar-thumb {
    background-color: $c-bg-light;
    border-radius: 3px;
  }
}