@import url('https://fonts.googleapis.com/css?family=Fondamento|Source+Serif+Pro&display=swap');

$c-prof: #3920ca;
$c-comb: #1baa9e;
$c-sear: #8eca20;
$c-note: #ca2095;
$c-stat: #ca2020;

$c-border: #777;
$c-bg: #222;
$c-bg-light: #555;
$c-mod-bg: #0007;
$c-font: #fff;

$f-prim: 'Source Serif Pro', serif;
$f-head: 'Fondamento', cursive;
$f-size-md: 16px;
$f-height-md: 24px;
$f-size-bg: 18px;
$f-height-bg: 34px;

$w-min: 304px;
$w-max: 500px;
$w-pad: 8px;

$br-el: 5px;
$br-mod: 15px;

$z-dropdown: 10;
$z-nav: 20;
$z-modal: 30;